body {
    background-color: black;
}

img {
    height: 100%;
    width: 100%;
    border: 0.31px solid white;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}
