body {
    background-color: black;
}

img {
    height: 1em;
    width: 1em;
    border: 0.31rem solid white;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 6,25rem;
    color: white;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}
